# Grav crushes without these dirs
assets/**
!assets/.gitkeep
user/accounts/**
!user/accounts/.gitkeep

# Ignore dirs
__*
backup
cache
logs
user/data

# Ignore files
user/config/media.yaml
user/config/security.yaml
user/config/system.yaml
user/config/versions.yaml
